.footer {
    position: relative;
    height: 88px;
    top:20px;
}

.team-title {
    position: absolute;
    font-size: 12px;
    margin: 0 auto;
    top: 70%;
    left:50%;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transform: translate(-50%, -50%);
    color: #777;
}