.search-items {
    position: absolute;
    top: 110px;
    left: 350px;
}
.search-bar {
    border: 2px solid;
    background-color: whitesmoke;
    width:800px;
    height:50px;
    font-size: 20px;
    padding-left:10px;
}
.search-button {
    position: absolute;
    background-color: powderblue;
    top: 5px;
    left: 675px;
    width: 110px;
    height: 40px;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}
.search-button:hover{
    opacity: 0.8;
}